html {
    overflow: hidden;
    height: 100%;
  }
  
  video {
    width: 25%;
    height: 25%;
    position: relative;
    display: block;
    object-fit: cover;
    z-index: 100;
  }
  
  canvas {
      width: 25%;
      height: 25%;
      position: absolute;
      display: block;
      object-fit: cover;
      top: 30px;
      z-index: 100;
  }
  
  body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  img {
    position: absolute;
    top: 0px;
    left: 700px;
  }

  #canvas3 {
    left: 832px;
    top: 130px;
  }

  #canvas4 {
    left: 950px;
    top: 155px;
  }